# Data Input and Output
Pandas read_ methods

In [1]:
import numpy as np
import pandas as pd

## CSV

### CSV Input

In [4]:
df = pd.read_csv('1_Sales.csv')
df

   SalesRep Region Month    Sales  Units Sold
0       Amy  North   Jan  23040.0       239.0
1       Amy  North   Feb  24131.0        79.0
2       Amy  North   Mar  24646.0        71.0
3       Amy  North   Apr  22047.0        71.0
4       Amy  North   May  24971.0         NaN
5       Amy  North   Jun  24218.0        92.0
6       Amy  North   Jul  25735.0       175.0
7       Amy  North   Aug      NaN        87.0
8       Amy  North   Sep  25749.0       557.0
9       Amy  North   Oct  24437.0        95.0
10      Amy  North   Nov  25355.0       706.0
11      Amy  North   Dec  25899.0       180.0
12      Bob  North   Jan  20024.0       103.0
13      Bob  North   Feb  23822.0       267.0
14      Bob  North   Mar  24854.0        96.0
15      Bob  North   Apr  22838.0        74.0
16      Bob  North   May  25320.0       231.0
17      Bob  North   Jun  24733.0       164.0
18      Bob  North   Jul  21184.0        68.0
19      Bob  North   Aug  23174.0       114.0
20      Bob  North   Sep  25999.0        84.0
21      Bob  North   Oct  22639.0       260.0
22      Bob  North   Nov  23949.0       109.0
23      Bob  North   Dec  23179.0       465.0
24    Chuck  South   Jan  19886.0        95.0
25    Chuck  South   Feb  23494.0       148.0
26    Chuck  South   Mar  21824.0        83.0
27    Chuck  South   Apr  22058.0        96.0
28    Chuck  South   May  20280.0       453.0
29    Chuck  South   Jun  23965.0       760.0
30    Chuck  South   Jul  23032.0       155.0
31    Chuck  South   Aug  21273.0       769.0
32    Chuck  South   Sep  21584.0       114.0
33    Chuck  South   Oct  19625.0        83.0
34    Chuck  South   Nov  19832.0        70.0
35    Chuck  South   Dec  20583.0       178.0
36     Doug  South   Jan  26264.0        92.0
37     Doug  South   Feb  29953.0       852.0
38     Doug  South   Mar  25041.0        86.0
39     Doug  South   Apr  29338.0       223.0
40     Doug  South   May  25150.0       242.0
41     Doug  South   Jun  27371.0        95.0
42     Doug  South   Jul  25044.0        82.0
43     Doug  South   Aug  29506.0       103.0
44     Doug  South   Sep  29061.0       146.0
45     Doug  South   Oct  27113.0       120.0
46     Doug  South   Nov  25953.0        81.0
47     Doug  South   Dec  28670.0       198.0

### CSV Output

In [5]:
df.to_csv('1_Sales_output.csv',index=False)

## Excel
Images or macros may cause this read_excel method to crash.

### Excel Input

In [6]:
pd.read_excel('1_StudentsScore.xlsx',sheet_name='data')

             Student  Score
0        Rhea Madsen     69
1    Jennifer Mendez     81
2      Brett Broyles    100
3      Shirley Smith     28
4         John Brown     93
..               ...    ...
216   James Richards     54
217     Jackie Iliff     54
218    Junior Walker     82
219     Richard Carr     37
220     Alice Starks     78

[221 rows x 2 columns]

### Excel Output

In [7]:
df.to_excel('1_StudentsScore_output.xlsx',sheet_name='Sheet1')